<div class="row">
  <div class="large-12 columns">
    <article>
      <dl>
        <dt>Item: </dt>
        <dd><%= @item['item']%></dd>
      </dl>
      <dl>
        <dt>Details: </dt>
        <dd><%= @item['details']%></dd>
      </dl>
      <a href="/items/<%= @item['id']%>/edit" class="small round button">edit</a>
    </article>
  </div>
</div>